/* ------------------------ */
/* Feature: Large Card View */
/* ------------------------ */
[bttr-large-cards] #layer-manager-card-back [data-elevation="1"] {
  max-width: calc(100% - 96px);
}

[bttr-large-cards] #layer-manager-card-back [role="dialog"] {
  width: var(--bttr-card-width, 1024px);
  min-width: 768px;
  max-width: 100%;
}

[bttr-large-cards] #layer-manager-card-back .window-main-col {
  width: 80%;
  box-sizing: border-box;
}

[bttr-large-cards] #layer-manager-card-back .window-sidebar {
  width: 20%;
  box-sizing: border-box;
}

[bttr-large-cards]
  #layer-manager-card-back:has([aria-labelledby="card-back-name"])
  [role="dialog"]
  > div
  > div
  > div {
  grid-template-columns: [main] 80% [sidebar] minmax(0, 1fr);
}

[bttr-large-cards] .card-detail-window .button-link-container,
[bttr-large-cards] .card-detail-window .button-link {
  max-width: unset;
}

/* ---------------------- */
/* Feature: Topbar Hidden */
/* ---------------------- */
[bttr-hide-topbar] div[data-testid="header-container"] {
  z-index: 10;
  position: absolute;
  top: -48px;
  right: 0;
  left: 0;
  border-bottom: 10px solid transparent;
  transition: all 0.2s ease;
}

[bttr-hide-topbar] div[data-testid="header-container"]:hover {
  top: 0;
}

/* ------------------- */
/* Feature: List Width */
/* ------------------- */
[bttr-list-width] #board > li > div {
  width: var(--bttr-list-width, 320px);
  min-width: 272px;
}

/* --------------------- */
/* Feature: Show Card Id */
/* --------------------- */
span.card-id {
  display: none;
}

[bttr-show-card-id] span.card-id {
  opacity: 0.65;
  display: inline;
  margin-right: 6px;
}

/* ------------------------ */
/* Feature: Markdown Editor */
/* ------------------------ */
[bttr-legacy-markdown] .description-edit > div:has(> section) {
  display: none !important;
}

[bttr-legacy-markdown] .js-desc-editor {
  display: none !important;
}

[bttr-legacy-markdown] .js-readonly-markdown {
  display: block !important;
  padding: 0px !important;
  border: unset !important;
  margin-bottom: 4px !important;
}

[bttr-legacy-markdown] .js-readonly-markdown > button {
  display: none !important;
}

[bttr-legacy-markdown] .js-readonly-markdown > textarea.card-description,
[bttr-legacy-markdown] .bttr-markdown-editor {
  color: var(--ds-text, #172b4d) !important;
  font-display: swap !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif !important;
  background: var(--ds-background-input, #ffffff) !important;
  border: 1px solid var(--ds-border-input, #7a869a) !important;
  box-shadow: 0 0 0 1px inset var(--ds-border-input, #091e4224) !important;
  padding: 8px 12px !important;
  border-radius: 3px !important;
  line-height: 20px !important;
  field-sizing: content !important;
  min-height: 78px !important;
}

[bttr-legacy-markdown] .js-readonly-markdown > textarea.card-description:focus,
[bttr-legacy-markdown] .bttr-markdown-editor:focus {
  border-color: var(--ds-border-focused, #388bff) !important;
  box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff) !important;
}

[bttr-legacy-markdown] .akEditor {
  visibility: hidden !important;
  height: 0 !important;
  min-height: 0 !important;
}

/* 
TODO: Uncomment when mentions are working properly
[bttr-legacy-markdown] .akEditor [data-testid="popup-wrapper"] {
  visibility: visible !important;
  transform: translateY(180px) !important;
} 
*/
